FULL_HOST=https://nile.trongrid.io
PRIVATE_KEY=YOUR_TRON_PRIVATE_KEY
TRON_CHAIN_ID=3448148188
TRON_PRO_API_KEY=
FEE_LIMIT=2000000000
USER_FEE_PERCENTAGE=100
ORIGIN_ENERGY_LIMIT=10000000
INITIAL_SUPPLY=1000000000000
