AIMIPAY_REPOSITORY_ROOT=e:/trade/aimicropay-tron
AIMIPAY_FULL_HOST=http://127.0.0.1:9090
AIMIPAY_MERCHANT_PORT=8000
AIMIPAY_SETTLEMENT_BACKEND=local_smoke
AIMIPAY_CHAIN_ID=31337

AIMIPAY_SELLER_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
AIMIPAY_SELLER_PRIVATE_KEY=seller_private_key
AIMIPAY_CONTRACT_ADDRESS=TRX_CONTRACT
AIMIPAY_TOKEN_ADDRESS=TRX_USDT

AIMIPAY_BUYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
AIMIPAY_BUYER_PRIVATE_KEY=buyer_private_key
AIMIPAY_MERCHANT_URLS=http://127.0.0.1:8000
