AIMIPAY_REPOSITORY_ROOT=E:/trade/aimicropay-tron
AIMIPAY_NETWORK_PROFILE=custom
AIMIPAY_FULL_HOST=
AIMIPAY_MERCHANT_PORT=8000
AIMIPAY_SETTLEMENT_BACKEND=
AIMIPAY_CHAIN_ID=
AIMIPAY_SELLER_ADDRESS=
AIMIPAY_SELLER_PRIVATE_KEY=
AIMIPAY_CONTRACT_ADDRESS=
AIMIPAY_TOKEN_ADDRESS=
AIMIPAY_BUYER_ADDRESS=TRX_BUYER
AIMIPAY_BUYER_PRIVATE_KEY=buyer_private_key
AIMIPAY_MERCHANT_URLS=http://127.0.0.1:8000
AIMIPAY_NETWORK_NAME=
AIMIPAY_FAUCET_URL=
AIMIPAY_FUNDING_GUIDE_URL=
AIMIPAY_MIN_TRX_BALANCE_SUN=1000000
AIMIPAY_MIN_TOKEN_BALANCE_ATOMIC=1000000
